<header>
    <nav style="background-color: #EE9972;">
        <ul>
            <li style="display: inline-block; width: 120px;"><a href="{% url 'home' %}">Home</a></li>
            <li style="display: inline-block; width: 120px;"><a href="{% url 'about' %}">About</a></li>
            <li style="display: inline-block; width: 120px;"><a href="{% url 'menu' %}">Menu</a></li>
            <li style="display: inline-block; width: 120px;"><a href="{% url 'booking' %}">Book</a></li>
        </ul>
    </nav>
</header>